/* Single City page */
.single-city {
    margin-top: 20px;

    .card {
        border: 1px solid $light-grey-color-1 !important;
    }

    .single-city-item {
        margin-bottom: 15px;

        .entry-title {
            margin: 0 !important;
            margin-bottom: 10px !important;
            padding: 0 !important;
            padding-bottom: 10px !important;
            border-bottom: 1px solid $light-grey-color;

            a {
                font-size: 1.4rem;
                font-weight: weight(semi-bold);
                text-decoration: none;
                color: $secondary-black-color;
                transition: all .25s ease;

                &:hover {
                    color: $logo-orange-color;
                }
            }
        }

        .entry-content {
            font-size: 1rem;
            margin-bottom: 20px;
            text-align: justify;
        }

        .features {

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;

                li {
                    margin-right: 25px;
                    font-size: 1rem;

                    i {
                        color: $light-grey-color-1;
                        font-size: 1.1rem;
                    }
                    span {
                        margin-left: 5px;
                        font-weight: weight(semi-bold);
                    }
                }
            }
        }

        .price {
            margin: 20px 0 10px 0;
            ul {
                list-style: none;
                display: block;

                li {
                    font-size: 1.1rem;
                    font-weight: weight(semi-bold);

                    span {
                        color: $logo-orange-color;
                        font-size: 1.4rem;
                        font-weight: weight(bold);
                    }
                }
            }
        }

        .share-listing {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin: 0 !important;
            background: $main-black-color;
            color: $secondary-white-color;

            .entry-title {
                border: none;
                padding: 0 !important;
                margin: 0 !important;
                font-size: 1.2rem;
                font-weight: weight(semi-bold);
            }
    
            a {
                text-decoration: none;
            }
    
            i {
                padding: 4px 4px 4px 5px;
                margin-right: 4px;
                height: 25px;
                width: 25px;
                border: none;
                color: $secondary-white-color;
                transition: all .35s ease-in-out;
    
                &:hover {
                    border-radius: 50%;
                    transform: scale(1.2);
                }
            }
    
            .fa-facebook-f {
                background: $facebook-color;
            }
            .fa-twitter {
                background: $twitter-color;
            }
            .fa-whatsapp {
                background: $whatsapp-color;
            }
            .fa-pinterest-p {
                background: $pinterest-color;
            }
        }
    }
}

@media ( max-width: 800px ) {

    .single-city {
    
        .single-city-item {
    
            .entry-title {
    
                a {
                    font-size: 1.2rem;
                }
            }
    
            .entry-content {
                font-size: .9rem;
                margin-bottom: 15px;
            }
    
            .features {
    
                ul {
    
                    li {
                        margin-right: 20px;
                        font-size: .9rem;
    
                        i {
                            font-size: 1rem;
                        }
                    }
                }
            }
    
            .price {
                ul {
    
                    li {
                        font-size: .9rem;
    
                        span {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
    
            .share-listing {
                padding: 8px;
    
                .entry-title {
                    font-size: 1rem;
                }
        
                i {
                    padding: 5px 3px 3px 5px;
                    height: 22px;
                    width: 22px;
                    font-size: .8rem;
                    margin-right: 3px;
                }
            }
        }
    }

}


